body {
font-family: Arial;
background: #f4f4f4;
padding: 20px;
}


.scanner-box {
margin-bottom: 20px;
}


input {
padding: 10px;
width: 300px;
}


button {
padding: 10px 20px;
background: #005eff;
color: white;
border: none;
cursor: pointer;
}


#notification {
margin-top: 20px;
font-weight: bold;
}


pre {
background: #222;
color: #0f0;
padding: 15px;
}